<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetiti.tlgm.service.performance.mapper.PerformanceTaskMapper">

    <resultMap id="fullTimeGridMember" type="com.cetiti.tlgm.service.performance.model.FullTimeGridMember">
        <id column="user_id" javaType="DECIMAL" property="userId" />
        <result column="name" javaType="VARCHAR" property="name" />
        <result column="loginname" javaType="VARCHAR" property="loginname" />
        <result column="grid_id" javaType="DECIMAL" property="gridId" />
        <result column="community_id" javaType="DECIMAL" property="communityId" />
        <result column="township_id" javaType="DECIMAL" property="townshipId" />
    </resultMap>
    
    <resultMap id="basePerformance" type="com.cetiti.tlgm.service.performance.model.quota.BasePerformance">
        <result column="increase_num" jdbcType="DECIMAL" property="increaseNum" />
        <result column="modification_num" jdbcType="DECIMAL" property="modificationNum" />
        <result column="check_num" jdbcType="DECIMAL" property="checkNum" />
    </resultMap>
    
    <select id="listFullTimeGridMember" resultMap="fullTimeGridMember">
        SELECT ID AS USER_ID, NAME, LOGINNAME, GRID_ID, COMMUNITY_ID, TOWNSHIP_ID
        FROM T_USER_INFO
        WHERE GRID_ID IS NOT NULL
        AND STATUS = $(@com.cetiti.tlgm.service.common.constant.DatabaseConstant@VALID)
    </select>

    <insert id="insertWithoutPerformance" parameterType="com.cetiti.tlgm.service.performance.model.FullTimeGridMember">
        INSERT INTO T_PERFORMANCE
        (ID, USER_ID, NAME, LOGINNAME, GRID_ID, GRID_NAME, COMMUNITY_ID, COMMUNITY_NAME, TOWNSHIP_ID, TOWNSHIP_NAME,
        CREATE_TIME, MODIFY_TIME)
        VALUES
        (SEQ_PERFORMANCE_ID.NEXTVAL, #{userId}, #{name}, #{loginname}, #{gridId}, #{gridName}, #{communityId},
        #{communityName}, #{townshipId}, #{townshipName}, SYSDATE, SYSDATE)
    </insert>

    <select id="countPerformance" resultMap="basePerformance">
        SELECT
        COUNT(WHEN OPERATE_TYPE = ${@com.cetiti.tlgm.schedulingtask.constant.PerformanceConstant@INSERT} THEN 'INCREASE' END) INCREASE_NUM,
        COUNT(WHEN OPERATE_TYPE = ${@com.cetiti.tlgm.schedulingtask.constant.PerformanceConstant@UPDATE} THEN 'MODIFICATION' END) MODIFICATION_NUM,
        COUNT(WHEN OPERATE_TYPE = ${@com.cetiti.tlgm.schedulingtask.constant.PerformanceConstant@CHECK} THEN 'CHECK' END) CHECK_NUM
        FROM T_LOG_INFO
        WHERE USER_ID = #{userId} AND MODULE_TYPE = #{moduleType} AND TO_CHAR(CREATE_TIME,'YYYY-MM') = #{currentMonth}
    </select>
    
    <delete id="batchDeleteUserIds">
        DELETE FROM T_PERFORMANCE
        WHERE TO_CHAR(CREATE_TIME,'YYYY-MM') = #{currentMonth} AND USER_ID IN
        <foreach collection="userIds" index="index" item="userId" open="(" close=")" separator=",">
            #{userId, jdbcType = DECIMAL}
        </foreach>
    </delete>
    
    <insert id="saveOrUpdate">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT COUNT(USER_ID) FROM T_PERFORMANCE WHERE USER_ID = #{userId, jdbcType = DECIMAL} AND TO_CHAR(CREATE_TIME,'YYYY-MM') = #{currentMonth, jdbcType = VARCHAR}
        </selectKey>
        <if test="count > 0">

        </if>
        <if test="count == 0">
            INSERT INTO T_PERFORMANCE
            (ID, USER_ID, NAME, LOGINNAME, EFFECT_NUM, EFFECT_SCORE, DYNAMIC_NUM, DYNAMIC_SCORE, DYNAMIC_EVENT_TOTAL_NUM,
            DYNAMIC_EVENT_TOTAL_SCORE, RESIDENCE_INCREASE_NUM, RESIDENCE_MODIFICATION_NUM, RESIDENCE_CHECK_NUM, RESIDENCE_TOTAL_SCORE,
            REAL_POP_INCREASE_NUM, REAL_POP_MODIFICATION_NUM, REAL_POP_CHECK_NUM, REAL_POP_TOTAL_SCORE, ENT_ORG_INCREASE_NUM,
            ENT_ORG_MODIFICATION_NUM, ENT_ORG_CHECK_NUM, ENT_ORG_TOTAL_SCORE, KEY_SITE_INCREASE_NUM, KEY_SITE_MODIFICATION_NUM,
            KEY_SITE_CHECK_NUM, KEY_SITE_TOTAL_SCORE, KEY_UNIT_INCREASE_NUM, KEY_UNIT_MODIFICATION_NUM, KEY_UNIT_CHECK_NUM,
            KEY_UNIT_TOTAL_SCORE, KEY_FACI_INCREASE_NUM, KEY_FACI_MODIFICATION_NUM, KEY_FACI_CHECK_NUM, KEY_FACI_TOTAL_SCORE,
            BASIC_DATA_INCREASE_NUM, BASIC_DATA_MODIFICATION_NUM, BASIC_DATA_CHECK_NUM, BASIC_DATA_TOTAL_SCORE, TOTAL_SCORE,
            OTHER_NUM, ND_EFFECTIVE_NUM, GRID_ID, GRID_NAME, COMMUNITY_ID, COMMUNITY_NAME, TOWNSHIP_ID, TOWNSHIP_NAME,
            CREATE_TIME, MODIFY_TIME)
            VALUES
            (SEQ_PERFORMANCE_ID.NEXTVAL, #{userId, jdbcType = DECIMAL}, #{name, jdbcType = VARCHAR}, #{loginname, jdbcType = VARCHAR},
            #{dynamicEventReportPerformance.effectNumber, }

            #{gridId, jdbcType = DECIMAL}, #{gridName, jdbcType = VARCHAR},
            #{communityId, jdbcType = DECIMAL}, #{communityName, jdbcType = VARCHAR}, #{townshipId, jdbcType = DECIMAL},
            #{townshipName, jdbcType = VARCHAR}, SYSDATE, SYSDATE

            )
        </if>
    </insert>
</mapper>