<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cetiti.tlgm.service.common.mapper.PatrolTaskMapper">

    <resultMap id="gridMemberPatrol" type="com.cetiti.tlgm.service.common.model.patrol.GridMemberPatrol">
        <id column="user_id" jdbcType="DECIMAL" property="userId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="loginname" jdbcType="VARCHAR" property="loginname" />
        <result column="grid_id" jdbcType="DECIMAL" property="gridId" />
        <result column="community_id" jdbcType="DECIMAL" property="communityId" />
        <result column="township_id" jdbcType="DECIMAL" property="townshipId" />
    </resultMap>

    <resultMap id="durationAndMileage" type="com.cetiti.tlgm.service.common.model.patrol.DurationMileageDTO">
        <id column="create_time" jdbcType="DECIMAL" property="patrolTime" />
        <result column="longitude" jdbcType="DECIMAL" property="longitude" />
        <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    </resultMap>

    <sql id="getTheDayBeforeToday">
        (SELECT TO_CHAR(SYSDATE - 1, 'YYYY-MM') FROM DUAL)
    </sql>

    <select id="listGridMemberPatrol" resultMap="gridMemberPatrol">
        SELECT ID AS USER_ID, NAME, LOGINNAME, GRID_ID, COMMUNITY_ID, TOWNSHIP_ID
        FROM T_USER_INFO
        WHERE GRID_ID IS NOT NULL
        AND STATUS = ${@com.cetiti.tlgm.service.common.constant.DatabaseConstant@VALID}
    </select>

    <select id="listTimeAndLocation" resultMap="durationAndMileage">
        SELECT CREATE_TIME, LATITUDE, LONGITUDE FROM T_GRID_MEMBER_TRAJECTORY
        WHERE USER_ID = #{userId} AND TO_CHAR(CREATE_TIME, 'YYYY-MM-DD') = '2017-12-13' <!--AND TO_CHAR(CREATE_TIME, 'YYYY-MM-DD') = <include refid="getTheDayBeforeToday"/>-->
        ORDER BY CREATE_TIME
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        BEGIN
        <foreach collection="gridMemberPatrols" item="patrol" index="index" separator="">
            INSERT INTO T_PATROL (ID, USER_ID, LOGINNAME, NAME, DURATION, MILEAGE, CREATE_TIME, MODIFIED_TIME,
            GRID_ID, GRID_NAME, COMMUNITY_ID, COMMUNITY_NAME, TOWNSHIP_ID, TOWNSHIP_NAME) VALUES
            (SEQ_PATROL_ID.NEXTVAL, #{patrol.userId}, #{patrol.loginname, jdbcType=VARCHAR}, #{patrol.name, jdbcType=VARCHAR},
            #{patrol.duration}, #{patrol.mileage}, SYSDATE, SYSDATE, #{patrol.gridId, jdbcType=DECIMAL}, #{patrol.gridName, jdbcType=VARCHAR},
            #{patrol.communityId, jdbcType=DECIMAL}, #{patrol.communityName, jdbcType=VARCHAR}, #{patrol.townshipId, jdbcType=DECIMAL},
            #{patrol.townshipName, jdbcType=VARCHAR});
        </foreach>
        COMMIT;
        END;
    </insert>

</mapper>